@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style-type:none;
}
.container{
  width:calc(100% - 120px);
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center ;
}

/*header*/
header {
  position: sticky;
  top:0;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;

  background-color: #fff;
}
header .row{
  padding: 16px 0px;
}

header .logo ,footer .logo {
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
  gap: 10px;
}
header .logo a{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgba(84, 91, 232, 1);
}
header .logo img{
  width: 30px;
}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}
header nav ul a{ 
 color: rgba(16, 25, 40, 1);
 font-size: 13px;
 font-weight: 500;
 
}
header  nav ul .active{
 font-weight: 600;
}

header .auth{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
header .auth a{
  width:95px;
  border-radius: 14px;
  padding: 5px 10px;

  text-align: center;

  font-size: 12px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;

  border: 2px;
  border-style: solid;
  border-color: rgba(84, 91, 232, 1);

}
header .auth .log_in{
  color: rgba(84, 91, 232, 1);
}
header .auth .register{
  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);
  
}

/*start section*/
main .start {
  margin-top: 90px;
  background-color: rgba(245, 245, 245, 1);

  height: 700px;
}
main .start .row{
  position: relative;
  top: 0px;

  padding: 20px 0px;
}
main .start .begins{
  width: calc((100% - 60px)/2);

  display:flex;
  flex-direction: column;
  gap: 30px;
}
main .start span{
  color: rgba(84, 91, 232, 1);
}
main .start span .focus{
  font-weight: 700;
}
main .start h2{
  font-size: 60px;
  font-weight: 900;
}
main .start p{
  color: rgba(150, 150, 150, 1);
}
main .start .begins .row{
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
main .start .begins .register{
  color: #fff;
  background-color: rgba(84, 91, 232, 1);
  width: 150px;
  text-align: center;
  padding: 10px;

  border-radius: 8px;

  font-size: 17px;
  font-weight: 700;
}
main .start .play-video{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 17px;
  font-weight: 700;
}
main .start .play-video a{
  color: #000;
}
main .start img {
  width: calc((100% - 60px)/2);

  position: absolute;
  top: -50px;
  right: 0px;
}



/*selected course section*/
main .selected-course {
  background-color:  rgba(39, 45, 176, 1);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  height: 700px;
}
main .selected-course .row{
  padding: 20px 0px;
}
main .selected-course .detailes{
  width: calc(((100% - 110px)*1/2));

  display:flex;
  flex-direction: column;
  gap: 30px;
}
main .selected-course .suptitle{
  color:   rgba(240, 201, 50, 1);
}
main .selected-course h3{
  font-size: 50px;
  font-weight: 700;
  color:rgba(255, 255, 255, 1)
}
main .selected-course p{
  color: rgba(221, 221, 221, 1)
}
main .selected-course ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .selected-course ul li{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  gap: 5px;
}
main .selected-course ul li .number{
  color:   rgba(240, 201, 50, 1);
  font-size: 17px;
  font-weight: 700;
  
}
main .selected-course ul li .title{
  color:   rgba(221, 221, 221, 1);
  
}
main .selected-course img {
  width: calc((100% - 110px)/2);
}




/*courses section*/

main .courses .row{
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
}
main .courses .section-part1 {
  width:calc((100% - 50px)* 2/3);
}
main .courses .section-part1 { 
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
main .courses .course-item {
  width: calc((100% - 35px )/2);
  background-color: rgba(255, 255, 255, 1);

  box-shadow : 0px 20px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

main .courses .course-item .course-card{
  width: 100%;

  position: relative;
  top: 0;
}

main .courses .course-item .course-info{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00) 75%, #000 100%);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 15px 15px;
  
}

main .courses .course-item .reveiw{
  font-size:16;
  font-weight: 700;
  text-align: center;

  width: 40%;

  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);

  padding: 8px 8px;

  align-self: flex-start;

}
main .courses .course-item .price{
  font-size: 20px;
  font-weight: 900;
  text-align: center;

  color: rgba(255, 255, 255, 1);

  align-self: flex-end;
}
main .courses .course-item img{
  width: 100%;
  display: block;

}

main .courses .course-item .detailes{
  padding: 15px;
}
main .courses .course-item .detailes .first {
  align-items: center;
  
  padding: 2.5px;
}
main .courses .course-item .detailes .second{
  justify-content:flex-start;
  align-items: flex-start;
  gap: 10px;

  padding: 2.5px;
}
main .courses .course-item .detailes h2{
  font-weight: 700;
  font-size: 25px;
}
main .courses .course-item .detailes .views{
  color: rgba(84, 91, 232, 1);
  font-size: 11px;
  font-weight: 400;


}
main .courses .course-item .detailes span{
  display: inline;
  color: rgba(150, 150, 150, 1);
}

main .courses .section-part2 {
  width:calc((100% - 50px)* 1/3);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

}


main .courses .section-part2 .Available {
  color: rgba(84, 91, 232, 1);
}
main .courses .section-part2 h2{
  font-weight: 900;
  font-size: 36px;
}
main .courses .section-part2 .description {
  color: rgba(150, 150, 150, 1);
}
main .courses .section-part2 .see-all{
  width: 40%;
  height: 5%;
  text-align: center;

  font-weight: 700;
  
  border-radius: 5px;
  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);
  padding: 7px;
}



/*Testimonials*/
main .testimonials {
  padding: 50px 0px;
}
main .testimonials .row {
  padding: 50px;
  gap: 50px;
}
main .testimonials h2{
  width: 100%;
  text-align: center;

  font-size: 35px;
  font-family: 'Mada', sans-serif;
  font-weight: 700;
}
main .testimonials .testimonial{
  width:calc((100% - 50px)/2);
  padding: 30px;

  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.1);

  position: relative;
  top:0px;
}

main .testimonials .testimonial::after{
  content: '';
  border-top: 60px solid rgba(244, 244, 244, 1) ;
  border-left: 60px solid rgba(172, 70, 70, 0) ;
  border-bottom: 60px solid rgba(173, 95, 95, 0) ;

  
  position: absolute;
  right: 0px;
  top: 0px;
}
main .testimonial .profile{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

}
main .testimonial .profile-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;

}
main .testimonial .profile-info .name{
  font-size: 16px;
  font-weight: 700;
}
main .testimonial .profile-info .description{
  font-size: 12px;
  color: rgba(150, 150, 150, 1);
}
main .testimonial .profile img{
 width:50px;
 height: 50px;
 border-radius: 50%;
}
main .testimonial .rating{
  padding: 20px 0px;
}
main .testimonial blockquote{
  color: rgba(100, 100, 100, 1);
}




/*footer*/
footer{
  background-color:rgba(57, 62, 70, 1) ;
  color: rgba(255, 255, 255, 1);

  padding:90px 50px;

}
footer a{
  color: rgba(255, 255, 255, 1);
}

footer .row{
  display:flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 70px;
}

.footer-part1 , .footer-part2{
  width:calc((100% - 70px)/2);
}

footer .footer-part1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
footer .footer-part1 .logo img{
  width: 30px;
  height: 30px;
}
footer .footer-part1 .logo a {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
footer .footer-part1  p{
  font-size: 13.5px;
  line-height: 25px;
  
  color: rgba(244, 244, 244, 1);
}
footer .footer-part1 .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer-part1 .icons svg{
  border: 1px solid white;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  padding: 7px;

}

footer .footer-part2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
footer .footer-part2 .footer-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
}

footer .footer-part2 h2{
  font-size: 17px;
  font-weight: 700;
}
footer .footer-part2 ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
footer .footer-part2 ul a{
  font-size: 13.5px;
  color: rgba(244, 244, 244, 1);
}

