@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style-type:none;
}
.container{
  width:calc(100% - 120px);
  margin: auto;
}


/*header*/
header {
  position: sticky;
  top:0;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;

  background-color: #fff;
}
header .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center ;

  padding: 16px;
}

header .row .logo ,.footer-part1 .logo {
  display: flex;
  flex-wrap: wrap;
  align-items:center ;
  gap: 10px;
}
header .row .logo a{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgba(84, 91, 232, 1);
}
header  .row .logo img{
  width: 30px;
}

header  .row nav ul{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}
header  .row nav ul a{ 
 color: rgba(16, 25, 40, 1);
 font-size: 13px;
 font-weight: 500;
 
}
header  nav ul .active{
 font-weight: 600;
}

header .auth{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
header .auth a{
  width:95px;
  border-radius: 14px;
  padding: 5px 10px;

  text-align: center;

  font-size: 12px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;

  border: 2px;
  border-style: solid;
  border-color: rgba(84, 91, 232, 1);

}
header .auth .log_in{
  color: rgba(84, 91, 232, 1);
}
header .auth .register{
  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);
  
}



/*footer*/
footer{
  background-color:rgba(57, 62, 70, 1) ;
  color: rgba(255, 255, 255, 1);

  padding:90px 50px;

}
footer a{
  color: rgba(255, 255, 255, 1);
}

footer .row{
  display:flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 70px;
}

.footer-part1 , .footer-part2{
  width:calc((100% - 70px)/2);
}

footer .footer-part1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
footer .footer-part1 .logo img{
  width: 30px;
  height: 30px;
}
footer .footer-part1 .logo a {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
footer .footer-part1  p{
  font-size: 13.5px;
  line-height: 25px;
  
  color: rgba(244, 244, 244, 1);
}
footer .footer-part1 .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer-part1 .icons svg{
  border: 1px solid white;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  padding: 7px;

}

footer .footer-part2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
footer .footer-part2 .footer-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
}

footer .footer-part2 h2{
  font-size: 17px;
  font-weight: 700;
}
footer .footer-part2 ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
footer .footer-part2 ul a{
  font-size: 13.5px;
  color: rgba(244, 244, 244, 1);
}


/*courses section*/
main .courses{
  margin: 50px 0 ;
}
main .row{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px;
}
main .courses .section-part1 {
  width:calc((100% - 50px)* 2/3);
}
main .courses .section-part1 { 
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
main .courses .course-item {
  width: calc((100% - 35px )/2);
  background-color: rgba(255, 255, 255, 1);

  box-shadow : 0px 20px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

main .courses .course-item .img-container{
  width: 100%;

  position: relative;
  top: 0;
}

main .courses .course-item .img-container::before{
  content: 'Best Course';
  font-size:16;
  font-weight: 700;
  text-align: center;

  width: 40%;

  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);

  padding: 8px 8px;

  position: absolute;
  top: 25px;
  left: 0px;
}
main .courses .course-item .img-container::after{
  content: '$ 20 USD';
  font-size: 20px;
  font-weight: 900;
  text-align: center;

  color: rgba(255, 255, 255, 1);

  position: absolute;
  bottom: 15px;
  right: 15px;
}
main .courses .course-item img{
  width: 100%;
  display: block;

}
main .courses .course-item .layer{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00) 75%, #000 100%);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  
}


main .courses .course-item .detailes{
  padding: 20px;
}
main .courses .course-item .detailes h2{
  font-weight: 700;
  font-size: 25px;

  position: relative;
  top: 0;
}
main .courses .course-item .detailes ::after{
  content: '1,500 Views';
  
  color: rgba(84, 91, 232, 1);
  font-size: 11px;
  font-weight: 400;

  position: absolute;
  right: 0px;
  top:10px;

}
main .courses .course-item .detailes p{
  display: inline;
  color: rgba(150, 150, 150, 1);
  margin:5px 10px 0px 0px;
}

main .courses .section-part2 {
  width:calc((100% - 50px)* 1/3);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

}


main .courses .section-part2 .Available {
  color: rgba(84, 91, 232, 1);
}
main .courses .section-part2 h2{
  font-weight: 900;
  font-size: 36px;
}
main .courses .section-part2 .description {
  color: rgba(150, 150, 150, 1);
}
main .courses .section-part2 .see-all{
  width: 40%;
  height: 5%;
  text-align: center;

  font-weight: 700;
  
  border-radius: 5px;
  background-color: rgba(84, 91, 232, 1);
  color: rgba(255, 255, 255, 1);
  padding: 7px;
}